@model IEnumerable<rogue.models.EffetItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AtkItem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpeedItem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HpItem)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AtkItem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpeedItem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HpItem)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Iditem }) |
            @Html.ActionLink("Details", "Details", new { id=item.Iditem }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Iditem })
        </td>
    </tr>
}

</table>
